@layer components {
  /* Checkbox */
  :where([data-gsxui-slot-checkbox]) {
    @apply size-4 shrink-0 appearance-none rounded-[4px] border border-input transition-shadow outline-none;
  }
  :where([data-gsxui-slot-checkbox]):focus-visible {
    @apply border-ring ring-[3px] ring-ring/50;
  }
  :where([data-gsxui-slot-checkbox]):disabled {
    @apply cursor-not-allowed opacity-50;
  }
  :where([data-gsxui-slot-checkbox])[aria-invalid="true"] {
    @apply border-destructive ring-destructive/20;
  }
  .dark :where([data-gsxui-slot-checkbox]) {
    @apply bg-input/30;
  }
  .dark :where([data-gsxui-slot-checkbox][aria-invalid="true"]) {
    @apply ring-destructive/40;
  }
  :where([data-gsxui-slot-checkbox]):checked {
    @apply border-primary bg-primary;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0yMCA2IDkgMTdsLTUtNSIvPjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }
  .dark :where([data-gsxui-slot-checkbox]):checked {
    @apply border-primary bg-primary;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJva2xjaCgwLjIwNSAwIDApIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+");
  }

}
